/*CSS EXAMPLE*/


/*
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Condensed');
body, html{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
#pm-logo {
	padding: 5px 0;
}
.container{
  width: 100%;
  max-width: calc(100% - 30px);
  display: table;
  margin: 0 auto;
}
.row{
  display: flex;
}
input{
  border: 0px;
  padding: 10px;
  background: #fdfdfd;
}
body{
    font-family: "Open Sans";
  	font-size: 13px;
}
h1,h2,h3,h4,h5,h6{
  margin: 0px;
}
*{
    box-sizing: border-box;
}
.side-left{
    float: left;
    display: table-cell;
}
.main-section{
    display: table;
    float: none;
    clear: both;
}

.main-content{
    float: left;
    display: table-cell;

}
.side-right{
    float: right;
    display: table-cell;
}

*/


/* SECTIONS CUSTOM BACKGROUNDS DEFAULT ADJUSTMENT */

header,
section,
footer,
.zero-breadcrumbs {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* OFF CANVAS MOBILE MENU */

.offCanvas {
    height: 100vh;
    z-index: 999999;
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    padding: 15px;
    overflow-y: auto;
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    background: #fff;
    margin-left: -30px;
}

.offCanvas.showoffcanvas {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    box-shadow: 0 0 10px;
    margin-left: 0px;
}

.onCanvas {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.onCanvas.showmenu {
    transform: translateX(300px);
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
}

.offCanvas .nav li {
    display: block;
    width: 100%;
    clear: both;
    list-style: none;
}

.offCanvas .nav li>a,
.offCanvas .nav li>span {
    color: #333;
    display: block;
    clear: both;
    width: 100%;
    padding: 10px 0;
}

.scrollToTop {
    margin: 0 30px 20px 0;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
}

.scrollToTop:hover {
    text-decoration: none;
}

.deeper.parent.dropdown:hover ul {
    display: block;
    position: ;
}