/*CSS EXAMPLE*/
/*
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Condensed');
body{
    font-family: "Open Sans";
    font-size: 13px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}
.side-left{
    float: left;
    display: table-cell;
}
.main-section{
    display: table;
    float: none;
    clear: both;
}

.main-content{
    float: left;
    display: table-cell;

}
.side-right{
    float: right;
    display: table-cell;
}
*/
