img {
    max-width: 100%;
}

header,
section,
footer,
.zero-breadcrumbs {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* OFF CANVAS MOBILE MENU */

.offCanvas {
    height: 100vh;
    z-index: 999999;
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    padding: 15px;
    overflow-y: auto;
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    background: #fff;
    margin-left: -30px;
}

.offCanvas.showoffcanvas {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    box-shadow: 0 0 10px;
    margin-left: 0px;
}

.onCanvas {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.onCanvas.showmenu {
    transform: translateX(300px);
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
}

.offCanvas .nav li {
    display: block;
    width: 100%;
    clear: both;
    list-style: none;
}

.offCanvas .nav li>a,
.offCanvas .nav li>span {
    color: #333;
    display: block;
    clear: both;
    width: 100%;
    padding: 10px 0;
}

.scrollToTop {
    margin: 0 30px 20px 0;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
}

.scrollToTop:hover {
    text-decoration: none;
}

.deeper.parent.dropdown:hover ul {
    display: block;
    position: ;
}

.zero-login {
    display: flex;
    align-items: center;
}